#set($menuId = 3402)
#set($layout="/WEB-INF/vm/layout/noframe.vm")
#parse("common/header_top.vm")
<div class="qiangbao-wrap">
    <div class="qb-title">派奖发货</div>
    <div class="qb-search">
        <form id="venderSendAwardSearch" name="venderSendAwardSearch" method="post" action="/vender/sendaward/query">
            <div class="infor">
                <span>商品sku:</span>
                <input type="text" name="productSku" value="$!{venderSendAwardQuery.productSku}" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
            </div>
            <div class="infor">
                <span>期次:</span>
                <input type="text" name="issueNo" value="$!{venderSendAwardQuery.issueNo}" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
            </div>
            <div class="infor infor-select">
                <span>商品类别:</span>
                <select name="itemType">
                    <option value="">全部</option>
                    #showItemType($!{venderSendAwardQuery.itemType})
                </select>
            </div>
            <div class="infor infor-select">
                <span>派奖状态:</span>
                <select name="prizeStatus">
                    <option value="">全部</option>
                    #showPrizeStatus($!{venderSendAwardQuery.prizeStatus})
                </select>
            </div>
            <div class="qb-btn">
                <a href="javascript:void(0)" onclick="checkData()" class="qb-btn-blue">查询</a>
                <!--<a href="javascript:void(0)" onclick="resetForm()" class="qb-btn-gray">重置</a>-->
            </div>
        </form>
    </div>
    <div class="qb-list">
        <table class="qb-table" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th width="128">商品SKU</th>
                <th width="109">商品名称</th>
                <th width="80">期次</th>
                <th width="100">收货人</th>
                <th width="116">收货人手机号</th>
                <th width="136">收货地址</th>
                <th width="138">派奖状态</th>
                <th width="128">快递单号</th>
                <th>操作</th>
            </tr>
    #if($venderSendAwardList && $venderSendAwardList.size() > 0)
        #foreach($venderSendAward in $venderSendAwardList)
            <tr>
                <td>$!{venderSendAward.productSku}</td>
                <td>$!{venderSendAward.itemName}</td>
                <td>$!{venderSendAward.issueNo}</td>
                <td>$!{venderSendAward.receiverName}</td>
                <td>$!{venderSendAward.receiverMobile}</td>
                <td>$!{venderSendAward.receiverAddress}</td>
                <td>#showPrizeStatusName($!{venderSendAward.prizeStatus})</td>
                <td>$!{venderSendAward.expressNumber}</td>
                <td>
                    #if($!{venderSendAward.prizeStatus} == 4) <a href="javascript:void(0)" onclick="openAlert(${venderSendAward.id})" class="color47a6e6">接单发货</a> #end
                </td>
            </tr>
        #end
        </table>
        <div class="qb-page">
            #set($pageModule = $homeModule.forPath("/vender/sendaward/query").put("productSku", "$!{venderSendAwardQuery.productSku}").put("issueNo", "$!{venderSendAwardQuery.issueNo}").put("itemType", "$!{venderSendAwardQuery.itemType}").put("prizeStatus", "$!{venderSendAwardQuery.prizeStatus}").put("pageSize","$!venderSendAwardQuery.pageSize"))
            #showPage($pageModule $venderSendAwardList)
        </div>
    #else
        </table>
        <div class="no-result">没有查询到相关信息</div>
    #end
    </div>
</div>
<!-- 遮罩层 -->
<div id="venderSendAwardAlert-cover"></div>
<!--填写发货信息-->
<div id="venderSendAwardAlert" class="qiangbao-alert" style="display:none;">
    <div class="qba-title">
        <a href="javascript:void(0)" onclick="hideAlert()" class="close"></a>
        <span>填写发货信息</span>
    </div>
    <div class="qba-con">
        <div class="status">派奖单状态：待商家发货</div>
        <div class="infor-wrap">
            <div class="infor">
                <span>物流公司：</span>
                <select name="expressId" onchange="showExpressLabel(this.value)">
                    <option value="">全部</option>
                    #showExpressOrg()
                </select>
            </div>
            <!-- 报错 加infor-wrong这个类 -->
            <div class="infor">
                <span id="express-number">快递单号：</span>
                <input type="text" name="expressNumber"/>
            </div>
        </div>
        <div class="qba-btn">
            <input type="hidden" name="id""/>
            <!--  提交中...class="doing" -->
            <a href="javascript:void(0)" onclick="recordExpress()">提交</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var checkData = function () {
        //校验查询数据

        //提交表单
        jQuery("#venderSendAwardSearch").submit();
    }
    var resetForm = function () {
        document.getElementById("venderSendAwardSearch").reset();
    }
    var openAlert = function (id) {
        jQuery('#venderSendAwardAlert-cover').addClass('qiangbao-alert-mark').css({"height":jQuery(document).height()});
        var wiget = jQuery('#venderSendAwardAlert');
        wiget.find('input[name=id]').val(id);
        wiget.show();
    }
    var hideAlert = function () {
        jQuery("#venderSendAwardAlert").hide();
        jQuery('#venderSendAwardAlert-cover').removeClass('qiangbao-alert-mark');
    }
    var showExpressLabel = function (value) {
        if (value == '2087') {//京东快递
            jQuery("#express-number").text('运单号：');
        } else {
            jQuery("#express-number").text('快递单号：');
        }
    }
    var recordExpress = function () {
        jQuery("#venderSendAwardAlert").find('a').addClass('doing');
        var expressId = jQuery("select[name=expressId]").val();
        var expressNumber = jQuery("input[name=expressNumber]").val();
        var id = jQuery("input[name=id]").val();
        var url = '/vender/sendaward/dorecordexpress?id=' + id + '&expressId=' + expressId + '&expressNumber=' + expressNumber;
        jQuery.ajax({
            url: url,
            type: 'get',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function(data) {
                if (!!data.result) {
                    alert(data.result);
                    jQuery("#venderSendAwardAlert").find('a').removeClass('doing');
                } else {
                    window.location.reload();
                }
            },
            error: function() {
                console.log('调用异常');
            }
        });
    }
</script>
