<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="schemeRegistry" class="org.apache.http.conn.scheme.SchemeRegistry">
        <property name="items">
            <map>
                <entry key="http">
                    <bean class="org.apache.http.conn.scheme.Scheme">
                        <constructor-arg value="http"/>
                        <constructor-arg value="80"/>
                        <constructor-arg>
                            <bean class="org.apache.http.conn.scheme.PlainSocketFactory"
                                  factory-method="getSocketFactory"/>
                        </constructor-arg>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="httpClientManager" class="com.jd.chongzhi.httpclient.manager.impl.HttpClientManagerImpl">
        <property name="maxPerRoute" value="100"/>
        <property name="maxTotal" value="200"/>
        <!-- 毫秒为单位 -->
        <property name="connectionTimeout" value="50000"/>
        <!-- 秒为单位 -->
        <property name="connTTL" value="100"/>
    </bean>

    <bean id="httpClientHelper" class="com.jd.chongzhi.httpclient.helper.HttpClientHelper"/>

	<!-- 19pay接口信息 -->
    <bean id="fillParam" class="com.jd.chongzhi.third.gw.domain.FillParam">
        <property name="host" value="114.255.7.208"/>
        <property name="port" value="8080"/>
        <property name="key" value="111111"/>
        <property name="partner" value="009"/>
        <property name="version" value="1.0"/>
    </bean>
	
	<!-- 先锋接口信息 -->
    <bean id="xianFengFillParam" class="com.jd.chongzhi.third.gw.domain.FillParam">
        <property name="host" value="${chongzhiman.ninteenpay.host}"/>
        <property name="port" value="${chongzhiman.ninteenpay.port}"/>
        <property name="partner" value="${chongzhiman.ninteenpay.partner}"/>
        <property name="key" value="${chongzhiman.ninteenpay.key}"/>
        <property name="version" value="1.0"/>
        <property name="preparePath" value="prefillrequest/Buy360PrePay.do"/>
        <property name="beginPath" value="directfill/Buy360Pay.do"/>
        <property name="findPath" value="query/Buy360Query.do"/>
        <property name="notifyUrl" value="http://${gw.chongzhi.domain.name}/fill/cz_receiveFill.action"/>
    </bean>
	
	<!-- 标准充值接口venderCode与接口信息的映射关系 -->
	<bean name="fillParamMap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="xianfeng" value-ref="xianFengFillParam" />
			</map>
		</constructor-arg>
	</bean>
    <bean id="nineteenPayManager" class="com.jd.chongzhi.third.gw.manager.impl.NineteenPayManagerImpl"/>
    
    <!-- 标准充值接口 -->
    <bean id="commonRechargeManager" class="com.jd.chongzhi.third.gw.manager.impl.CommonRechargeManagerImpl"/>

</beans>