<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd
    ">

    <!--使用注解注入bean-->
    <context:annotation-config/>
    <!--加载动态配置-->
    <context:property-placeholder location="classpath:important.properties,classpath:extend.properties"/>

    <bean class="com.jd.jmi.order.canal.server.SlaveServer" init-method="init" destroy-method="shutdown">
        <property name="configs">
            <list>
                <value>classpath:canal.properties</value>
            </list>
        </property>
        <property name="destinations" value="${canal.destinations}"/>
        <property name="token" value="${canal.status.token}"/>
    </bean>

</beans>