
#macro(showSimpleError)
    #if(!$!actionErrors.empty)
        #foreach($str in $actionErrors)
            $!str
            #break
        #end
    #end
#end

#* 派奖状态 *#
#macro(showPrizeStatus $selectedValue)
    #foreach($i in [4,5,6])
    <option value="$i" #if($selectedValue==$i)selected="selected" #end >#showPrizeStatusName($i)</option>
    #end
#end

#macro(showPrizeStatusName $status)
    #if($status==4) 待商家发货
    #elseif($status==5) 待确认收货
    #elseif($status==6) 已确认收货
    #end
#end

#* 派奖状态 *#
#macro(showItemType $selectedValue)
    #foreach($i in [1,2])
    <option value="$i" #if($selectedValue==$i)selected="selected" #end >#showItemTypeName($i)</option>
    #end
#end

#macro(showItemTypeName $status)
    #if($status==1) 实物
    #elseif($status==2) 虚拟商品
    #end
#end

#* 快递公司 *#
#macro(showExpressOrg $selectedValue)
    #foreach($i in [463,464,465,466,467,470,1327,1409,1499,1747,2009,2016,2087,2094,2170,2171,2465,2466,5419,10000])
    <option value="$i" #if($selectedValue==$i)selected="selected" #end >#showExpressOrgName($i)</option>
    #end
#end

#macro(showExpressOrgName $status)
    #if($status==463) 圆通快递
    #elseif($status==464) 中通快递
    #elseif($status==465) 邮政EMS
    #elseif($status==466) 中铁快运
    #elseif($status==467) 顺丰快递
    #elseif($status==470) 申通快递
    #elseif($status==1327) 韵达快递
    #elseif($status==1409) 宅急送
    #elseif($status==1499) 中通速递
    #elseif($status==1747) 优速物流
    #elseif($status==2009) 天天快递
    #elseif($status==2016) 全峰快递
    #elseif($status==2087) 京东快递
    #elseif($status==2094) 快捷速递
    #elseif($status==2170) 中国邮政集团公司-国内小包
    #elseif($status==2171) 中国邮政集团公司-挂号信
    #elseif($status==2465) 国通快递
    #elseif($status==2466) 汇强快递
    #elseif($status==5419) 中铁物流
    #elseif($status==10000) 其他
    #end
#end

#* @vtlvariable name="page" type="com.jd.common.util.base.PaginatedArrayList" *#
#macro (showPage $module $page)
    #if($page)
        #set($pagePos = 2) ##当前页的尾巴长度
    <em>共$!{page.totalItem}条</em>
    <em>$!{page.pageSize}条/页</em>
    <em>共$!{page.totalPage}页</em>
        #if($!page.index>1)
        <em>当前第$!{page.index}页</em>
        #end

        #if($page.previousPageAvailable) ##如果能向上翻页
        <a href="$module.put("pageIndex",1).build()">首页</a>
        <a href="$module.put("pageIndex",$!{page.previousPage}).build()">上一页<b></b></a>
        #else
        <span class="noclick">首页</span>
        <span class="noclick">上一页<b></b></span>
        #end

        #foreach($i in [$pagePos..1]) ##增加前面的尾巴
            #if($!page.index - $i > 1)
                #set($pageIndex= $!page.index - $i)
            <a href="$module.put("pageIndex",$pageIndex).build()">$pageIndex</a>
            #end
        #end
    <a class="current">$!page.index</a> ##显示当前页号
        #foreach($i in [1..$pagePos]) ##增加后面的尾巴
            #if($!page.totalPage - $!page.index - $i > 0)
                #set($pageIndex= $!page.index + $!i)
            <a href="$module.put("pageIndex",$pageIndex).build()">$pageIndex</a>
            #end
        #end
        #if($!page.totalPage - $!page.index > $pagePos+1) <em>...</em> #end ##显示后面的省略号
        #if($page.nextPageAvailable) ##显示后面的页
        <a href="$module.put("pageIndex",$!{page.nextPage}).build()">下一页</a>
        <a href="$module.put("pageIndex",$!{page.totalPage}).build()">末页</a>
        #else
        <span class="noclick">下一页<b></b></span>
        <span class="noclick">末页</span>
        #end
    #end
#end
