<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">




    <bean id="scheduleManagerFactory" class="com.taobao.pamirs.schedule.strategy.TBScheduleManagerFactory" init-method="init">
        <property name="zkConfig">
            <map>
                <entry key="zkConnectString" value="192.168.147.90:2181,192.168.147.89:2181,192.168.147.88:2181" />
                <entry key="rootPath" value="/tbs-worker/task" />
                <entry key="zkSessionTimeout" value="60000" />
                <entry key="userName" value="ScheduleAdmin" />
                <entry key="password" value="password" />
                <entry key="isCheckParentPath" value="true" />
            </map>
        </property>
    </bean>

    <bean id="demoTask" class="com.jd.treasure.task.DemoTask" />
    <bean id="demoTaskBean" class="com.jd.treasure.task.DemoTaskBean" />


    <!-- 配置调度策略 凌晨1点到3点执行 -->
    <!--<bean id="abstractDemoScheduleTask" class="com.jd.treasure.task.InitScheduleTask" abstract="true">
        <property name="scheduleTaskType.heartBeatRate" value="10000" />
        <property name="scheduleTaskType.judgeDeadInterval" value="100000" />
        <property name="scheduleTaskType.permitRunStartTime" value="0 0/1 * * * ?"/>
        <property name="scheduleTaskType.permitRunEndTime" value="0 0/10 * * * ?"/>
        <property name="scheduleTaskType.taskParameter" value="AREA=BJ,YEAR>30" />
        <property name="scheduleTaskType.sleepTimeNoData" value="60000"/>
        <property name="scheduleTaskType.sleepTimeInterval" value="60000"/>
        <property name="scheduleTaskType.fetchDataNumber" value="500" />
        <property name="scheduleTaskType.executeNumber" value="1" />
        <property name="scheduleTaskType.threadNumber" value="5" />
        <property name="scheduleTaskType.taskItems">
            <list>
                <value>0:{TYPE=A,KIND=1}</value>
                <value>1:{TYPE=A,KIND=2}</value>
                <value>2:{TYPE=A,KIND=3}</value>
                <value>3:{TYPE=A,KIND=4}</value>
                <value>4:{TYPE=A,KIND=5}</value>
                <value>5:{TYPE=A,KIND=6}</value>
                <value>6:{TYPE=A,KIND=7}</value>
                <value>7:{TYPE=A,KIND=8}</value>
                <value>8:{TYPE=A,KIND=9}</value>
                <value>9:{TYPE=A,KIND=10}</value>
            </list>
        </property>
        <property name="scheduleStrategy.kind" value="Schedule" />
        <property name="scheduleStrategy.numOfSingleServer" value="1" />
        <property name="scheduleStrategy.assignNum" value="10" />
        <property name="scheduleStrategy.IPList">
            <list>
                <value>192.168.147.90</value>
                <value>127.0.0.1</value>
                <value>10.1.66.13</value>
            </list>
        </property>

        <property name="scheduleTaskType.baseTaskType" value="demoTask" />
        <property name="scheduleTaskType.dealBeanName" value="demoTaskBean" />
        <property name="scheduleStrategy.strategyName" value="demoTaskBean-Strategy" />
        <property name="scheduleStrategy.taskName" value="demoTaskBean" />
    </bean>-->



</beans>