<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

    <!--
        时间程序 各分库 任务配置   需要注意以下事项：
        1、Scheduler 对应的beanId 需要符合规则： xxxScheduler 例如充值任务： rechargeScheduler
        2、手动执行一次对应的beanId 需要符合规则： xxxOnce      例如充值任务： rechargeOnce
        3、每个时间程序的beanId 需要严格按照此约定进行配置
    -->



    <!-- 充值任务 -->
    <bean id="rechargeTaskHandler11" class="com.jd.treasure.service.worker.RechargeTaskHandler">
        <property name="shardingId" value="11"/>
    </bean>
    <bean id="rechargeTaskHandler12" class="com.jd.treasure.service.worker.RechargeTaskHandler">
        <property name="shardingId" value="12"/>
    </bean>
    <bean id="rechargeTaskHandler13" class="com.jd.treasure.service.worker.RechargeTaskHandler">
        <property name="shardingId" value="13"/>
    </bean>
    <bean id="rechargeTaskHandler14" class="com.jd.treasure.service.worker.RechargeTaskHandler">
        <property name="shardingId" value="14"/>
    </bean>

    <bean id="cronTgiggerBeanParent" class="org.springframework.scheduling.quartz.CronTriggerBean" abstract="true">
        <!--每隔2分钟执行1次 -->
        <property name="cronExpression" value="0 0/2 * * * ?" />
    </bean>

    <!-- 调用外部接口充值 -->
    <bean id="rechargeScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <bean id="rechargeCronTgiggerBean"  parent="cronTgiggerBeanParent">
                    <property name="jobDetail" ref="rechargeOnce11"/>
                </bean>
                <bean id="rechargeCronTgiggerBean"  parent="cronTgiggerBeanParent">
                    <property name="jobDetail" ref="rechargeOnce12"/>
                </bean>
                <bean id="rechargeCronTgiggerBean"  parent="cronTgiggerBeanParent">
                    <property name="jobDetail" ref="rechargeOnce13"/>
                </bean>
                <bean id="rechargeCronTgiggerBean"  parent="cronTgiggerBeanParent">
                    <property name="jobDetail" ref="rechargeOnce14"/>
                </bean>
            </list>
        </property>
        <property name="autoStartup">
            <value>false</value>
        </property>
        <property name="startupDelay" value="10" />
        <property name="quartzProperties">
            <props>
                <prop key="org.quartz.threadPool.threadCount">1</prop>
            </props>
        </property>
    </bean>


    <bean id="jobDetailOnce" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" abstract="true">
        <property name="targetMethod" value="doWork" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="rechargeOnce11" parent="jobDetailOnce">
        <property name="targetObject" ref="rechargeTaskHandler11" />
    </bean>
    <bean id="rechargeOnce12" parent="jobDetailOnce">
        <property name="targetObject" ref="rechargeTaskHandler12" />
    </bean>
    <bean id="rechargeOnce13" parent="jobDetailOnce">
        <property name="targetObject" ref="rechargeTaskHandler13" />
    </bean>
    <bean id="rechargeOnce14" parent="jobDetailOnce">
        <property name="targetObject" ref="rechargeTaskHandler14" />
    </bean>

</beans>