<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!--定义切面处理类-->
    <!--<bean id="aspect" class="com.jd.treasure.aop.HelloWorldAspect"/>
    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* com.jd.treasure.service..*.*(..))"/>
        <aop:aspect ref="aspect">
            <aop:before pointcut-ref="pointcut" method="beforeAdvice"/>
            <aop:after pointcut="execution(* com.jd.treasure.service..*.*(..))" method="afterFinallyAdvice"/>
        </aop:aspect>
    </aop:config>-->

    <!--<bean id="aspect" class="com.jd.treasure.aop.HelloWorldAspect"/>
    <aop:config>
        <aop:aspect ref="aspect">
            <aop:before pointcut="execution(* com.jd.treasure.service..*.sayBefore(..)) and args(param)"
                        method="beforeAdvice(java.lang.String)"
                        arg-names="param"/>
        </aop:aspect>
    </aop:config>-->

    <aop:aspectj-autoproxy/>

</beans>