<div class="header-bg">
    <div id="header">
        <div id="sys-infor">
            <span>欢迎您：</span>
            <a href="javascript:void(0);">[退出]</a>
            <a href="http://gw.jos.360buy.com/">商家助手</a>
        </div>
        <ul id="sys-links">
            <li><a target="_blank" href="http://pop.jd.com/userLoginAction.action"><i class="i-odp"></i><span>数据罗盘</span></a></li>
            <li><a target="_blank" href="http://kuaiche.jd.com/"><i class="i-express"></i><span>京东快车</span></a></li>
            <li><a target="_blank" href="http://mjbbs.jd.com/forum.php"><i class="i-forum"></i><span>卖家论坛</span></a></li>
        </ul>
        <div id="logo"><a title="京东商家后台" href="#">京东商家后台</a></div>
        <div id="nav">
            <ul>
                <li><a href="#"><span>首页</span></a></li>
                <li><a href="#"><span>我的店铺</span></a></li>
                <li class="curr"><a href="#"><span>商品管理</span></a></li>
                <li><a href="#"><span>促销推广</span></a></li>
                <li><a href="#"><span>订单管理</span></a></li>
                <li><a href="#"><span>我的配送</span></a></li>
                <li><a href="#"><span>售后服务</span></a></li>
                <li><a href="#"><span>结算管理</span></a></li>
                <li><a href="#"><span>我的报表</span></a></li>
                <li><a href="#"><span>会员管理</span></a></li>
            </ul>
        </div>
    </div>
</div>